* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background: #ffa3a3;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: sans-serif;
}

.slider {
    display: flex;
    height: 80%;
    width: 100%;
    margin: 5% auto 0;
    box-sizing: border-box !important;
}

.imagebox {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 1s;
}

.imagebox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    object-fit: cover;
}

.imagebox:hover {
    width: 320px;
    height: 525px;
    transition: 1s;
}

.imagebox:hover, .active {
    flex-basis: 50%;
}

.slider:hover .active {
    flex-basis: 0;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .slider {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .imagebox {
        width: 250px;
        height: 200px;
        margin: 30px 0px;
    }

    .imagebox:hover {
        width: 320px;
        height: 250px;
    }

    .imagebox:hover img {
        width: 320px;
        height: 250px;
        flex-basis: 100%;
    }

    .imagebox img {
        width: 250px;
        height: 200px;
    }
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
